NODE_ENV=development

POSTGRES_DB=dfs_bebidas
POSTGRES_USER=dfs
POSTGRES_PASSWORD=troque_esta_senha
DATABASE_URL=postgresql://dfs:troque_esta_senha@localhost:5432/dfs_bebidas?schema=public

REDIS_URL=redis://localhost:6379
JWT_SECRET=troque_por_uma_chave_forte
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=30d

API_PORT=3333
ADMIN_WEB_PORT=3000
STORE_WEB_PORT=3001

EVOLUTION_API_URL=http://localhost:8080
EVOLUTION_API_KEY=
N8N_WEBHOOK_URL=
